name: MindsDB Cloud Tests

on:
  # Triggers the workflow every day at 1 and 13:00 UTC
  schedule:
    - cron:  '0 3,15 * * *'

jobs:
  run_tests:
    runs-on: ubuntu-latest

    steps:
    - name: Check out repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        python -m venv venv
        source venv/bin/activate
        pip install -r requirements.txt

    - name: Run MindsDB Cloud API Tests
      env:
        INTEGRATIONS_CONFIG: ${{ secrets.INTEGRATIONS_CONFIG }}
      run: |
        source venv/bin/activate
        python -m unittest discover -s cloud_sql_api
        python -m unittest discover -s cloud_mongo_api
        
    - name: Run MindsDB Healthchecks
      env:
        INTEGRATIONS_CONFIG: ${{ secrets.INTEGRATIONS_CONFIG }}
      run: |
        source venv/bin/activate
        python -m unittest discover -s health_checks
        
    - name: Run MindsDB ML Integrations Tests
      env:
        INTEGRATIONS_CONFIG: ${{ secrets.INTEGRATIONS_CONFIG }}
      run: |
        source venv/bin/activate
        python -m unittest discover -s integrations/ml/
        
    - name: Run MindsDB DB Integrations Tests
      env:
        INTEGRATIONS_CONFIG: ${{ secrets.INTEGRATIONS_CONFIG }}
      run: |
        source venv/bin/activate
        python -m unittest integrations/test_mysql.py
        python -m unittest integrations/test_postgresql.py 
        python -m unittest integrations/test_clickhouse.py
        python -m unittest integrations/test_mariadb.py
        python -m unittest integrations/test_mongodb.py
        python -m unittest integrations/test_amazon_aurora.py
        python -m unittest integrations/test_snowflake.py
        python -m unittest integrations/test_singlestore.py
        python -m unittest integrations/test_mssql.py
        python -m unittest integrations/test_surrealdb.py

    - name: Run MindsDB Application Integrations Tests
      env:
        INTEGRATIONS_CONFIG: ${{ secrets.INTEGRATIONS_CONFIG }}
      run: |
        source venv/bin/activate
        python -m unittest integrations/applications/test_youtube.py
        python -m unittest integrations/applications/test_github.py
        python -m unittest integrations/applications/test_shopify.py
        python -m unittest integrations/applications/test_google_sheets.py
        python -m unittest integrations/applications/test_binance.py
        python -m unittest integrations/applications/test_slack.py
